@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}