@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  color: #eeeeee;
  transition: 0.7s ease-in-out;
  background-color: #121212;
}

a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #777;
}

